{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% macro renderFields(fields) %}
  {% for field in fields %}
    {% if field.fieldType == 'HTML' %}
    {% endif %}

    {% if field.fieldType == 'TextBox' %}
      {{
        govukInput({
          id: field.fieldId,
          name: field.fieldId,
          label: {
            text: field.fieldLabel
          }
        })
      }}
    {% endif %}

    {% if field.fieldType == 'TextArea' %}
      {{
        govukTextarea({
          name: field.fieldId,
          id: field.fieldId,
          label: {
            text: field.fieldLabel
          },
          hint: {
            text: field.hint
          }
        }) 
      }}
    {% endif %}
    
    {% if field.fieldType == 'IntegerBox' %}
    {{ govukInput({
        label: {
          text: field.fieldLabel,
          isPageHeading: true
        },
        id: field.fieldId,
        name: field.fieldId,
        inputmode: "numeric",
        spellcheck: false
      }) }}
    {% endif %}

    {% if field.fieldType == 'DecimalBox' %}
    {{ govukInput({
        label: {
          text: field.fieldLabel,
          isPageHeading: true
        },
        id: field.fieldId,
        name: field.fieldId,
        inputmode: "numeric",
        spellcheck: false
      }) }}
    {% endif %}

    {% if field.fieldType == 'CheckBox' %}
    {{ govukCheckboxes({
        name: field.fieldId,
        fieldset: {
          legend: {
            text: field.fieldLabel,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: field.items
      }) }}
    {% endif %}

    {% if field.fieldType == 'DatePicker' %}
    {{ govukDateInput({
        id: field.fieldId,
        namePrefix: field.fieldId,
        fieldset: {
          legend: {
            text: field.fieldLabel,
            isPageHeading: true
          }
        }
      }) }}
    {% endif %}

    {% if field.fieldType == 'Slider' %}
    {% endif %}

    {% if field.fieldType == 'ListBox' %}
    
    {% endif %}

    {% if field.fieldType == 'RadioGroup' %}
    {{ govukRadios({
        name: field.fieldId,
        fieldset: {
          legend: {
            text: field.fieldLabel,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: field.items
      }) }}
    {% endif %}

    {% if field.fieldType == 'MultipleSelector' %}
    {% endif %}

    {% if field.fieldType == 'MultipleInput' %}
    {% endif %}

    {% if field.fieldType == 'Document' %}
      {{ govukFileUpload({
          id: field.fieldId,
          name: field.fieldId,
          label: {
            text: field.fieldLabel
          }
        }) }}
    {% endif %}

    {% if field.fieldType == 'DocumentCollection' %}
    {% endif %}

  {% endfor %}
{% endmacro %}
