<script type="text/javascript">
  const timeOut = setInterval(async () => { 
     fetch('/jbpm-status-checker')
      .then((response) => response.json())
      .then((data) => {
        if(data.redirectUrl){
          window.location = data.redirectUrl
        }
      });
  }, 1500);
</script>