<script type="text/javascript">
  const timeOut = setInterval(async () => { 
     fetch('/jbpm-status-checker')
      .then((response) => response.json())
      .then((data) => {
        window.location = data.redirectUrl
      });
  }, 5000);
</script>