
{% extends './layouts/layout.njk' %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
  {{siteTitle}}
{% endblock %}
{% block content %}
  {% include "partials/scripts/status-checker.njk" %}
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper--auto-spacing">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-m">Sustainable Farming Incentive</h1>
          <h2 class="govuk-heading-xl">Apply for SFI</h2>
          <h3 class="govuk-heading-s">Application incomplete</h3>
          <p class="govuk-body-l">You have completed X out of X sections</p>

          <form action="/sbi" method="post">
            <label class="govuk-label govuk-input__label">Please enter your SBI number
              <input class="govuk-input" type="text" name="sbi" />
            </label>
            <input class="govuk-input" type="submit" value="Save" />
          </form>

          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="/land-summary" class="govuk-link">Click and confirm your land details</a>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag">Not started</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
