{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends './layouts/layout.njk' %}

{% block pageTitle %}
  {{siteTitle}}
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper--auto-spacing">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Your SFI payment value summary for this standard</h1>
          <p class="govuk-body">Your indicative SFI payment for completing the actions in the <strong>Arable and Horticultural soils</strong> standard will be <strong>&pound;55.66</strong> per year.</p>
          <p class="govuk-body">This is made up of:
            <ul class="govuk-list govuk-list--bullet">
              <li><strong>&pound;55.66</strong> per year under the <strong>introductory</strong> level - this is based on entering <strong>2.53 hectares</strong> of land into this level at a payment of <strong>&pound;22.00</strong> per hectare.</li>
            </ul>
          </p>
          <form method="post" action="jbpm-communicator">
            {{ govukButton({
              text:'Close'
            }) }}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
