
{% extends './layouts/layout.njk' %}

{% block pageTitle %}
  {{siteTitle}}
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper--auto-spacing">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">sfi selector [{{ sfiID }}]</h1>
        </div>
        <ul>
          {% for property in properties %}
          <li>{{property.name}}</li>
          {% endfor %}
        </ul>
        <div class="govuk-grid-column-two-thirds">
          <a href="1">got to form</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
